[submodule "OneWireStellaris/stellaris-pins"]
	path = OneWireStellaris/stellaris-pins
	url = git@github.com:MrDoomBringer/stellaris-pins.git
[submodule "stellaris-pins"]
	path = stellaris-pins
	url = git@github.com:MrDoomBringer/stellaris-pins.git
